/*
 * Mixins for Hellaclips
 *
 * Names are descriptive
 */
/* Colors */
/* Font */
/* line 37, ../scss/_base.scss */
.font-size-jumbo {
  font-size: 4.65em;
}

/* line 38, ../scss/_base.scss */
.font-size-big {
  font-size: 1.65em;
}

/* line 39, ../scss/_base.scss */
.font-size-medium {
  font-size: 1.15em;
}

/* line 40, ../scss/_base.scss */
.font-size-small {
  font-size: 0.83em;
}

/* line 41, ../scss/_base.scss */
.font-size-tiny {
  font-size: 0.8em;
}

/* line 50, ../scss/_base.scss */
.font-weight-bold {
  font-weight: 600;
}

/* line 51, ../scss/_base.scss */
.font-weight-medium {
  font-weight: 500;
}

/* line 52, ../scss/_base.scss */
.font-weight-regular {
  font-weight: 400;
}

/* line 53, ../scss/_base.scss */
.font-weight-light {
  font-weight: 300;
}

/* line 54, ../scss/_base.scss */
.font-weight-slim {
  font-weight: 100;
}

/* line 56, ../scss/_base.scss */
h2 {
  font-size: 2.02736rem;
  line-height: 2.14286rem;
}

/* Link transition */
/* line 63, ../scss/_base.scss */
a {
  -webkit-transition: all 70ms linear;
  -moz-transition: all 70ms linear;
  -o-transition: all 70ms linear;
  transition: all 70ms linear;
  color: #1965d7;
}

/* Background */
/* line 68, ../scss/_base.scss */
.hc-cover-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  z-index: 1;
}
/* line 74, ../scss/_base.scss */
.hc-cover-bg:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

/* line 83, ../scss/_base.scss */
.hc-cover-bg-image {
  background: url("../img/hc-bg-cover-image.jpg") no-repeat center fixed;
}

/* Default styles */
/* line 90, ../scss/_base.scss */
body,
html {
  color: #f1f1f1;
  font-size: 87.5%;
  line-height: 1.42857em;
  background-color: black;
}

/* line 97, ../scss/_base.scss */
#main {
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.9);
}

/* line 102, ../scss/_base.scss */
.sidebar {
  border-left: 1px solid #222222;
}

/* line 106, ../scss/_base.scss */
#ad-content-start {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background: #222222;
}

/* line 113, ../scss/_base.scss */
#ad-content-sidebar {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0;
  background: #222222;
}

/* line 121, ../scss/_base.scss */
#ad-content-footer {
  width: 728px;
  height: 90px;
  margin: 0 auto;
}

/* line 127, ../scss/_base.scss */
.hc-lead {
  color: #f1f1f1;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0.71429rem 15px 0.71429rem 15px;
  text-transform: uppercase;
  border-left: 5px solid #1965d7;
}

/* line 139, ../scss/_base.scss */
.hc-mid {
  color: #f1f1f1;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 11px 0 11px 15px;
  text-transform: uppercase;
  border-left: 5px solid #1965d7;
}

/* line 152, ../scss/_base.scss */
.hc-lead-links {
  line-height: 3.125rem;
}
/* line 154, ../scss/_base.scss */
.hc-lead-links a {
  margin-right: 10px;
  color: #888888;
  text-transform: uppercase;
}
/* line 158, ../scss/_base.scss */
.hc-lead-links a:hover {
  color: #1965d7;
  text-decoration: none;
}

/* line 165, ../scss/_base.scss */
.tptn_link {
  height: 50px;
}

/* line 170, ../scss/_base.scss */
.hc-trending h1 {
  position: relative;
  width: 100%;
  height: 110px;
  margin-bottom: 5px;
  color: #f1f1f1;
  font-size: 1.8rem;
  text-indent: 20px;
  text-transform: capitalize;
  line-height: 95px;
  border-left: 5px solid #333;
  background: url("../img/trending-bg.jpg") no-repeat top left;
}
/* line 183, ../scss/_base.scss */
.hc-trending .sub-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 50px;
  top: 30px;
  left: 2px;
  font-size: .9rem;
  color: #888888;
  font-weight: 200;
  letter-spacing: .5px;
}
/* line 196, ../scss/_base.scss */
.hc-trending li a {
  word-wrap: break-word;
  color: #888888;
  background: #333333;
}
/* line 200, ../scss/_base.scss */
.hc-trending li a:hover {
  color: #888888;
  background: #222222;
}
/* line 206, ../scss/_base.scss */
.hc-trending .tptn_thumb {
  margin-right: 0;
  display: inline-block;
  width: 100px;
  height: 50px;
}

/* line 214, ../scss/_base.scss */
.hc-widget {
  max-width: 360px;
  margin-bottom: 20px;
}
/* line 217, ../scss/_base.scss */
.hc-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 222, ../scss/_base.scss */
.hc-widget li {
  margin-bottom: 5px;
}
/* line 224, ../scss/_base.scss */
.hc-widget li a {
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 235, ../scss/_base.scss */
.hc-widget .tptn_after_thumb {
  display: inline-block;
  width: 258px;
  font-size: .85rem;
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 243, ../scss/_base.scss */
.hc-widget .tptn_after_thumb a {
  width: 259px;
  padding: 5px;
}
/* line 247, ../scss/_base.scss */
.hc-widget .tptn_after_thumb .tptn_title {
  margin-top: 6px;
  padding-right: 6px;
}

/* line 254, ../scss/_base.scss */
.hc-widget-dark {
  color: #333333;
}
/* line 256, ../scss/_base.scss */
.hc-widget-dark h1 {
  color: #333333;
}
/* line 260, ../scss/_base.scss */
.hc-widget-dark li a {
  color: #333333;
  padding: 5px 0 5px 25px;
  border-left: 2px solid;
}
/* line 264, ../scss/_base.scss */
.hc-widget-dark li a:hover {
  color: #1965d7;
  border-left: 5px solid;
}

/* line 275, ../scss/_base.scss */
.hc-widget-light h1,
.hc-widget-sidekick h1 {
  color: #f1f1f1;
}
/* line 278, ../scss/_base.scss */
.hc-widget-light li,
.hc-widget-sidekick li {
  margin-left: 12px;
  margin-top: 12px;
}
/* line 281, ../scss/_base.scss */
.hc-widget-light li .tptn_thumb,
.hc-widget-sidekick li .tptn_thumb {
  color: #888888;
}
/* line 283, ../scss/_base.scss */
.hc-widget-light li .tptn_thumb:hover,
.hc-widget-sidekick li .tptn_thumb:hover {
  color: #1965d7;
}

/* line 292, ../scss/_base.scss */
.hc-widget-light li a {
  padding: 5px 0 5px 25px;
  border-left: 2px solid;
}
/* line 295, ../scss/_base.scss */
.hc-widget-light li a:hover {
  border-left: 5px solid;
}

/* line 302, ../scss/_base.scss */
.hc-widget-sidekick {
  padding: 10px 10px 0 0;
  max-width: 380px;
  margin: 0 0 -20px -15px;
}
/* line 306, ../scss/_base.scss */
.hc-widget-sidekick ul {
  width: 100%;
  height: 355px;
  padding: 0;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.1);
}
/* line 315, ../scss/_base.scss */
.hc-widget-sidekick li {
  height: 80px;
  margin: 5px 10px 0 10px;
  background: #222222;
}
/* line 321, ../scss/_base.scss */
.hc-widget-sidekick li:hover {
  background: rgba(22, 22, 22, 0.2);
}
/* line 328, ../scss/_base.scss */
.hc-widget-sidekick .tptn_after_thumb {
  margin-left: 155px;
}
/* line 330, ../scss/_base.scss */
.hc-widget-sidekick .tptn_after_thumb .tptn_title {
  font-size: 1em;
  line-height: 0;
  margin-top: -10px;
}
/* line 336, ../scss/_base.scss */
.hc-widget-sidekick .tptn_link {
  width: 150px;
  height: 80px;
}

/* line 345, ../scss/_base.scss */
.hc-widget-sidekick .tptn_after_thumb a {
  width: 182px;
  margin-top: -87px;
  margin-left: 8px;
  border: none;
}

/* line 353, ../scss/_base.scss */
.next-page a,
.prev-page a {
  display: inline-block;
  line-height: 40px;
  color: #f1f1f1;
  background: #333333;
}
/* line 358, ../scss/_base.scss */
.next-page a:hover,
.prev-page a:hover {
  text-decoration: none;
  background: #1965d7;
}

/* line 366, ../scss/_base.scss */
.prev-page a {
  padding: 0 20px 0 15px;
  margin-right: 10px;
}
/* line 370, ../scss/_base.scss */
.prev-page i {
  margin-right: 6px;
}

/* line 376, ../scss/_base.scss */
.next-page a {
  padding: 0 15px 0 20px;
}
/* line 379, ../scss/_base.scss */
.next-page i {
  margin-left: 6px;
}

/* line 384, ../scss/_base.scss */
.iframe-wrapper {
  padding-bottom: 14px;
  width: 100%;
  margin-left: 5px;
}

/* line 390, ../scss/_base.scss */
.inline-logo {
  display: inline-block;
  height: 42px;
  width: auto;
  margin-bottom: 5px;
}

/* line 397, ../scss/_base.scss */
button.close {
  position: absolute;
  margin-left: 410px;
  margin-top: 300px;
  background-color: #fff;
}

/* line 405, ../scss/_base.scss */
button.close :hover {
  opacity: 1.0;
}

/* line 1, ../scss/partials/_auth.scss */
form {
  color: #ccc;
  padding: 0;
  margin-top: 40px;
  background: none;
}

/* line 8, ../scss/partials/_auth.scss */
label {
  width: 100%;
  margin-bottom: 10px;
  color: #f1f1f1;
  font-size: 1rem;
  line-height: 0;
  text-transform: uppercase;
}

/* line 17, ../scss/partials/_auth.scss */
fieldset {
  margin-bottom: 20px;
}

/* line 23, ../scss/partials/_auth.scss */
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  color: #222;
}

/* line 30, ../scss/partials/_auth.scss */
input[type="submit"] {
  width: 40%;
  height: 45px;
  margin-top: 20px;
  padding: 0;
  font-size: 1rem;
  color: white;
  line-height: 45px;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #3FA31F;
}
/* line 44, ../scss/partials/_auth.scss */
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
  background: #4FAA31;
}

/* Sub header */
/* line 12, ../scss/partials/_header.scss */
.sub-header {
  font-size: 0.85714rem;
  line-height: 24px;
  background: black;
  border-bottom: 1px solid #333333;
}

/* line 20, ../scss/partials/_header.scss */
.header-social a {
  font-size: 12px;
  margin-right: 20px;
  color: #555555;
}
/* line 26, ../scss/partials/_header.scss */
.header-social a:hover, .header-social a:focus, .header-social a:active {
  color: #1965d7;
  text-decoration: none;
}
/* line 31, ../scss/partials/_header.scss */
.header-social i {
  margin-right: 5px;
}

/* line 36, ../scss/partials/_header.scss */
.header-auth {
  color: #cccccc;
}
/* line 38, ../scss/partials/_header.scss */
.header-auth a {
  font-size: 12px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #cccccc;
}
/* line 45, ../scss/partials/_header.scss */
.header-auth a:hover, .header-auth a:focus, .header-auth a:active {
  color: #1965d7;
  text-decoration: none;
}
/* line 50, ../scss/partials/_header.scss */
.header-auth i {
  margin-right: 5px;
  color: #1965d7;
}

/* Header */
/* line 58, ../scss/partials/_header.scss */
.hc-navbar-wrapper {
  background: black;
}

/* line 62, ../scss/partials/_header.scss */
.hc-navbar {
  margin: 0;
  border: none;
  font-size: 1.07143rem;
  line-height: 1.42857rem;
  background: #222;
}

/* line 71, ../scss/partials/_header.scss */
.navbar-inverse .hc-navbar-nav {
  padding-right: 15px;
}
/* line 74, ../scss/partials/_header.scss */
.navbar-inverse .hc-navbar-nav a {
  letter-spacing: .5px;
  text-transform: capitalize;
}
/* line 78, ../scss/partials/_header.scss */
.navbar-inverse .hc-navbar-nav a:hover {
  color: white;
  background: #1965d7 !important;
}
/* line 89, ../scss/partials/_header.scss */
.navbar-inverse .hc-navbar-nav .active a:hover, .navbar-inverse .hc-navbar-nav .active a:focus, .navbar-inverse .hc-navbar-nav .active a:active {
  background: none;
}
/* line 97, ../scss/partials/_header.scss */
.navbar-inverse .hc-navbar-nav .menu-item-48472 a,
.navbar-inverse .hc-navbar-nav .menu-item-71452 a {
  background: #3FA31F !important;
  color: white;
}
/* line 101, ../scss/partials/_header.scss */
.navbar-inverse .hc-navbar-nav .menu-item-48472 a:hover,
.navbar-inverse .hc-navbar-nav .menu-item-71452 a:hover {
  background: #4FAA31 !important;
}
/* line 109, ../scss/partials/_header.scss */
.navbar-inverse .dropdown-menu {
  color: white;
  background: #1965d7 !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid black;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
/* line 117, ../scss/partials/_header.scss */
.navbar-inverse .dropdown-menu li {
  padding: 0;
}
/* line 120, ../scss/partials/_header.scss */
.navbar-inverse .dropdown-menu a {
  padding: .8rem .9rem;
  color: white !important;
}
/* line 123, ../scss/partials/_header.scss */
.navbar-inverse .dropdown-menu a:hover {
  color: #1965d7 !important;
  background: white !important;
}
/* line 131, ../scss/partials/_header.scss */
.navbar-inverse .open a {
  color: white;
  background: #1965d7 !important;
}

/* line 138, ../scss/partials/_header.scss */
.header-logo {
  display: inline-block;
  width: 200px;
  margin-top: 11px;
  border: none;
}

/* line 145, ../scss/partials/_header.scss */
.logo-with-ad {
  margin-top: 28px;
}

/* Search */
/* line 151, ../scss/partials/_header.scss */
.hc-navbar-form {
  margin-top: 9px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  background: white;
}
/* line 156, ../scss/partials/_header.scss */
.hc-navbar-form .hc-form-control,
.hc-navbar-form .btn {
  height: 30px;
  color: #999999;
  border: 0;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  background: white;
  padding: 0 .185rem;
}
/* line 164, ../scss/partials/_header.scss */
.hc-navbar-form .hc-form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Post entries */
/* line 5, ../scss/partials/_posts.scss */
.entry,
.hh-entry {
  margin-bottom: 20px;
  color: #888888;
}
/* line 8, ../scss/partials/_posts.scss */
.entry a,
.hh-entry a {
  color: #888888;
  text-decoration: none;
}
/* line 13, ../scss/partials/_posts.scss */
.entry a:hover, .entry a:active, .entry a:focus,
.hh-entry a:hover,
.hh-entry a:active,
.hh-entry a:focus {
  text-decoration: none;
}
/* line 17, ../scss/partials/_posts.scss */
.entry img,
.hh-entry img {
  width: 100%;
}

/* line 23, ../scss/partials/_posts.scss */
.list-inline .hh-entry {
  padding: 0;
}

/* line 28, ../scss/partials/_posts.scss */
.entry {
  min-height: 252px;
}

/* line 33, ../scss/partials/_posts.scss */
.hh-entry p {
  margin-top: 10px;
  color: #888888;
  line-height: 1.5rem;
}
/* line 38, ../scss/partials/_posts.scss */
.hh-entry .label {
  margin-right: 10px;
  background: #888888;
}
/* line 41, ../scss/partials/_posts.scss */
.hh-entry .label a {
  color: #222222;
}
/* line 45, ../scss/partials/_posts.scss */
.hh-entry .label:hover, .hh-entry .label:focus {
  background: #1965d7;
}

/* line 51, ../scss/partials/_posts.scss */
.entry-title {
  color: #f1f1f1;
  margin-top: 0;
  margin-bottom: 0.35714rem;
  text-transform: uppercase;
  font-size: 1.08929rem;
  line-height: 1.42857rem;
}

/* line 60, ../scss/partials/_posts.scss */
.entry-excerpt {
  line-height: 18px;
}

/* line 65, ../scss/partials/_posts.scss */
.media-figure,
.hh-media-figure {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin-bottom: 0.71429rem;
  overflow: hidden;
}
/* line 71, ../scss/partials/_posts.scss */
.media-figure:before,
.hh-media-figure:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}
/* line 80, ../scss/partials/_posts.scss */
.media-figure:after,
.hh-media-figure:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1965d7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 150ms linear;
  -moz-transition: opacity 150ms linear;
  -o-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}
/* line 91, ../scss/partials/_posts.scss */
.media-figure:hover:after,
.hh-media-figure:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 96, ../scss/partials/_posts.scss */
.media-figure {
  max-height: 135px;
}
/* line 98, ../scss/partials/_posts.scss */
.media-figure:before {
  background: url("../img/media-figure-shadow-gradient.png") repeat-x bottom left;
}

/* line 103, ../scss/partials/_posts.scss */
.hh-media-figure {
  max-height: 197px;
}

/* line 107, ../scss/partials/_posts.scss */
.post-type {
  position: absolute;
  top: 9px;
  left: 12px;
  white-space: nowrap;
  color: #f1f1f1;
  text-shadow: #000 0 1px 1px;
  font-size: 0.99007rem;
  line-height: 1.42857rem;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 99;
}

/* line 121, ../scss/partials/_posts.scss */
.views-count {
  position: absolute;
  bottom: 6px;
  left: 7px;
  white-space: nowrap;
  color: #f1f1f1;
  text-shadow: #000 0 1px 1px;
  font-size: 0.99007rem;
  line-height: 1.42857rem;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 99;
}

/* line 135, ../scss/partials/_posts.scss */
.comment-count {
  position: absolute;
  bottom: 6px;
  right: 7px;
  white-space: nowrap;
  color: #f1f1f1;
  text-shadow: #000 0 1px 1px;
  font-size: 0.99007rem;
  line-height: 1.42857rem;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}

/* line 150, ../scss/partials/_posts.scss */
.lead a {
  color: #1965d7;
}
/* line 152, ../scss/partials/_posts.scss */
.lead a:hover {
  color: #333333;
}

/* line 158, ../scss/partials/_posts.scss */
.title {
  text-transform: uppercase;
}

/* line 162, ../scss/partials/_posts.scss */
.post-meta {
  margin-right: 20px;
}

/* line 166, ../scss/partials/_posts.scss */
.description {
  color: #888888;
  margin: 20px 0px 20px 25px;
  font-size: 1.3rem;
  line-height: 2.14286rem;
}
/* line 171, ../scss/partials/_posts.scss */
.description p {
  word-wrap: break-word;
}

/* line 176, ../scss/partials/_posts.scss */
.discussion {
  margin-top: 40px;
}

/* line 180, ../scss/partials/_posts.scss */
.us_shortcode {
  width: 90px;
  float: left;
  margin-right: 10px;
}

/* line 186, ../scss/partials/_posts.scss */
.related-posts {
  margin-top: 20px;
}

/* Browser Resets */
/* line 5, ../scss/partials/_slider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 11, ../scss/partials/_slider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* FlexSlider Necessary Styles */
/* line 18, ../scss/partials/_slider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 25, ../scss/partials/_slider.scss */
.flexslider .slides li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* line 34, ../scss/partials/_slider.scss */
.flexslider .slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 42, ../scss/partials/_slider.scss */
.flexslider .slides img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 47, ../scss/partials/_slider.scss */
.flexslider .slides .caption {
  color: #f1f1f1;
  padding: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  background: none;
}

/* line 58, ../scss/partials/_slider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 65, ../scss/partials/_slider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* line 75, ../scss/partials/_slider.scss */
.no-js .slides li:first-child {
  display: block;
}

/* FlexSlider Default Theme */
/* line 83, ../scss/partials/_slider.scss */
.flexslider {
  position: relative;
  zoom: 1;
}

/* line 88, ../scss/partials/_slider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 97, ../scss/partials/_slider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 103, ../scss/partials/_slider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 109, ../scss/partials/_slider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 115, ../scss/partials/_slider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 120, ../scss/partials/_slider.scss */
.flex-direction-nav a {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 30px;
  height: 65px;
  border-radius: 1px;
  line-height: 65px;
  margin: -30px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
/* line 139, ../scss/partials/_slider.scss */
.flex-direction-nav a:hover {
  background: rgba(0, 0, 0, 0.7);
}
/* line 142, ../scss/partials/_slider.scss */
.flex-direction-nav a:before {
  content: '\f104';
  font-family: "FontAwesome";
  font-size: 25px;
  line-height: 65px;
  display: inline-block;
}
/* line 150, ../scss/partials/_slider.scss */
.flex-direction-nav .flex-prev {
  left: 20px;
}
/* line 153, ../scss/partials/_slider.scss */
.flex-direction-nav .flex-next {
  right: 20px;
}
/* line 156, ../scss/partials/_slider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}
/* line 161, ../scss/partials/_slider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f105';
}

/* line 166, ../scss/partials/_slider.scss */
.flex-control-nav {
  display: none;
}

/* line 1, ../scss/partials/_footer.scss */
footer {
  padding: 20px;
  color: #f1f1f1;
  background: black;
}
/* line 5, ../scss/partials/_footer.scss */
footer h4 {
  color: #f1f1f1;
}
/* line 8, ../scss/partials/_footer.scss */
footer a {
  color: #888888;
}
/* line 10, ../scss/partials/_footer.scss */
footer a:hover {
  color: #1965d7;
  text-decoration: none;
}

/* line 17, ../scss/partials/_footer.scss */
.sub-footer-ad {
  margin-top: 40px;
  padding: 20px;
  background: #222222;
}

/* line 23, ../scss/partials/_footer.scss */
.footer-columb {
  padding-left: 0px;
  padding-top: 15px;
}

/* line 1, ../scss/_page.scss */
#page-header {
  position: relative;
  width: 100%;
  z-index: 1;
  background: black url("../img/hc-bg-cover-image.jpg") bottom left;
}
/* line 6, ../scss/_page.scss */
#page-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background: url("../img/main-slider-shadow-top.png") repeat-x top left;
  z-index: 2;
}
/* line 18, ../scss/_page.scss */
#page-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
/* line 28, ../scss/_page.scss */
#page-header .submit-title {
  position: relative;
  padding: 10rem 0 5rem 0;
  color: white;
  z-index: 3;
}

/* line 37, ../scss/_page.scss */
.home-media,
.media {
  position: relative;
  padding: 155px 0 5px 0;
  z-index: 3;
}
/* line 41, ../scss/_page.scss */
.home-media .row,
.media .row {
  background: rgba(0, 0, 0, 0.4);
}

/* line 1, ../scss/_single.scss */
.hh-single-top {
  margin-top: 140px;
  margin-bottom: 20px;
  background: black;
}

/* line 9, ../scss/_single.scss */
.prev-link a,
.next-link a {
  display: block;
  width: 100%;
  height: 46px;
  margin-bottom: 10px;
  color: #f1f1f1;
  line-height: 46px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 21, ../scss/_single.scss */
.prev-link a:hover,
.next-link a:hover {
  text-decoration: none;
  color: #1965d7;
}

/* line 30, ../scss/_single.scss */
.prev-link .fa {
  margin-right: 10px;
  height: 46px;
  line-height: 46px;
}

/* line 41, ../scss/_single.scss */
.next-link .fa {
  margin-left: 10px;
  height: 46px;
  line-height: 46px;
}

/* line 51, ../scss/_single.scss */
#gallery.sidebar {
  margin-top: 18px;
}

/* line 55, ../scss/_single.scss */
#gallery.heading {
  position: relative;
  width: 104%;
  height: 300px;
  overflow: hidden;
  padding: 0;
  margin: 18px 0px 0px -12px;
}
/* line 64, ../scss/_single.scss */
#gallery.heading .title-and-meta {
  background-color: Black;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 0px 0px 5px 20px;
  display: block;
  width: 100%;
  -moz-opacity: .80;
  filter: alpha(opacity=80);
  opacity: .80;
}

@media (max-width: 767px) {
  /* Search */
  /* line 3, ../scss/_mobile.scss */
  .hc-navbar-form {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  /* line 6, ../scss/_mobile.scss */
  #s {
    width: 10%;
  }

  /* line 9, ../scss/_mobile.scss */
  #search {
    width: 90%;
  }

  /* feature slider */
  /* line 14, ../scss/_mobile.scss */
  .home-media,
  .media {
    padding-top: 50px !important;
  }

  /* Page header */
  /* line 19, ../scss/_mobile.scss */
  #page-header {
    background: none;
  }

  /* submit page */
  /* line 25, ../scss/_mobile.scss */
  .submit-btn {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  /* line 30, ../scss/_mobile.scss */
  .ngg-gallery-thumbnail img {
    width: 195px;
    height: 140px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* line 38, ../scss/_mobile.scss */
  .entry img {
    height: 117px;
  }

  /* line 41, ../scss/_mobile.scss */
  .col-md-8 {
    padding-bottom: 15px;
  }

  /* line 44, ../scss/_mobile.scss */
  #search-2 {
    width: 305px;
  }

  /* line 47, ../scss/_mobile.scss */
  .entry-title {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }

  /* line 51, ../scss/_mobile.scss */
  .entry-exerpt {
    line-height: 12px;
  }

  /* line 54, ../scss/_mobile.scss */
  .entry {
    min-height: 260px;
    max-height: 250px;
    margin-bottom: -60px;
  }

  /* line 59, ../scss/_mobile.scss */
  .sidebar {
    display: block;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  /* line 65, ../scss/_mobile.scss */
  .ngg-gallery-thumbnail img {
    width: 241px;
    height: 180px;
  }
}
@media (max-width: 991px) {
  /* Logo round*/
  /* line 72, ../scss/_mobile.scss */
  .header-logo {
    width: 252px;
  }

  /* line 76, ../scss/_mobile.scss */
  .ngg-gallery-thumbnail img {
    width: 231px;
    height: 180px;
  }

  /* line 80, ../scss/_mobile.scss */
  .metaslider {
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  /* line 87, ../scss/_mobile.scss */
  .home-media,
  .media {
    padding: 220px 0 20px 0;
  }

  /* line 90, ../scss/_mobile.scss */
  .hc-widget .tptn_after_thumb {
    width: 220px;
  }
  /* line 92, ../scss/_mobile.scss */
  .hc-widget .tptn_after_thumb a {
    width: 220px;
  }

  /* line 95, ../scss/_mobile.scss */
  .metaslider {
    padding-top: 10px;
  }

  /* line 98, ../scss/_mobile.scss */
  .sidebar {
    border: none;
    width: 320px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 107, ../scss/_mobile.scss */
  .hc-widget .tptn_after_thumb {
    width: 192px;
  }
  /* line 109, ../scss/_mobile.scss */
  .hc-widget .tptn_after_thumb a {
    width: 192px;
  }

  /* line 112, ../scss/_mobile.scss */
  .tptn_link {
    height: 60px;
  }
  /* line 114, ../scss/_mobile.scss */
  .tptn_link .tptn_thumb {
    height: 60px;
  }

  /* line 119, ../scss/_mobile.scss */
  .hc-widget-sidekick img {
    max-width: 120px;
    height: 60px;
  }
  /* line 123, ../scss/_mobile.scss */
  .hc-widget-sidekick a.tptn_link {
    width: 120px;
    height: 60px;
  }
  /* line 128, ../scss/_mobile.scss */
  .hc-widget-sidekick .tptn_after_thumb .tptn_title {
    font-size: .7em;
    font-weight: 400;
  }
  /* line 132, ../scss/_mobile.scss */
  .hc-widget-sidekick .tptn_after_thumb a {
    margin-left: -36px;
    width: 163px;
  }
  /* line 137, ../scss/_mobile.scss */
  .hc-widget-sidekick li {
    height: 60px;
  }
  /* line 140, ../scss/_mobile.scss */
  .hc-widget-sidekick ul {
    height: 280px;
  }

  /* line 144, ../scss/_mobile.scss */
  #ad-content-sidebar {
    width: 320px;
  }

  /* line 147, ../scss/_mobile.scss */
  .entry {
    min-height: 262px;
  }
}
